@charset "utf-8";
/* CSS Document */

body{
	font-family: 'Oswald', sans-serif;
	font-size:14px;
	margin:0px;
	padding:0px;
	color:#333;
	background-color:#b3b3b3;
}
.list-wrapper {
	position:absolute;
	width:400px;
	height:150px;
	top:10%;
	left:50%;
	margin-left:-200px;
}
h1{
	text-align:center;	
}
.label{
	padding:5px 0px;
	text-align:center;	
}
.input{
	width:380px;
	height:30px;
	outline:none;
	padding:0px 10px;
	margin:0px auto;
	display:block;
}
.suggestions-list {
	position: absolute;
	list-style-type: none;
	margin:0px;
	padding:0;
	overflow:auto;
}
.suggestions-list li {
	color: #000000;
	padding: 5px 10px;
	height:20px;
	cursor: pointer;
	background: #f5f5f5;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	width:382px;
}
.suggestions-list li:last-child{
	border-bottom: 1px solid #ddd;
}
.suggestions-list li:hover {
	background: #ddd;
}
.suggestions-list li:active,
.suggestions-list li.active {
	color: #FFFFFF;
	background: #990000;
	width:382px;
}
.suggestions-list:focus{
	outline:none;
}