<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Geo Inference</title>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script src="autoCompleteCTRL.js"></script>
        
    </head>

    <body ng-app="app" ng-controller="autoCompleteCTRL" ng-click="hideMenu($event)" id="myBody">
    <div style="height:100vh;z-index:-5;"></div>
    	<!-- You Can Make It As A View -->
        <div class="list-wrapper">
        
            <div>
                <input type="text" placeholder="Search for items" id="textFiled" class="input" ng-keydown="checkKeyDown($event)" ng-keyup="checkKeyUp($event)"  ng-model="searchText" ng-change="search()" />
                <button value="Search" ng-click="query()">Search</button>
            </div>
            
            <ul class="suggestions-list">
                <li ng-repeat="suggestion in suggestions track by $index" ng-class="{active : selectedIndex === $index}" ng-click="AssignValueAndHide($index)">{{suggestion}}</li>
            </ul>
            
        </div>
        <!-- End Of view -->
    </body>
    
</html>
